.logo {
    margin-left: 0rem; /*v responsive design del specifično za različne širine*/
}
.purchase-button {
    height: 32px;
    width: 120px;
    background-color: #859398;
    margin: 0;
    padding: 0;
}
.purchase-button:hover {
    background-color: #9dacb1;
}

header {
    position: fixed !important;
    width: 100%;
    top: 0;

    box-shadow: 0 6px 14px -10px #111111;

    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 400ms;
}

header.down {
    top: -60px; /*more bit višina headerja*/
}

.up {
    background-position: 0; /*popravi overlaying issue*/
    z-index: 9999 !important;
    top: 0;
}

/**/
.nav-menu {
    background-color: #1a83ff;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 60px;
    left: -100%;
    transition: 500ms;
    overflow: hidden;
}
.nav-menu.active {
    left: 0;
    transition: 500ms;
}

.nav-text {
    font-family: 'Quantum';
    text-decoration: none;
    list-style-type: none;
    color: black;
    font-size: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: center;
    padding: 0 16px;
    border-radius: 4px;
}
.nav-text a:hover {
    background-color: #1a83ff;
}
.nav-menu-items {
    width: 100%;
}

.remove-overflow-y {
    overflow-y: hidden !important;
}
